body{
    background-color: aliceblue;

}
.items {
  
    text-align: center;
}

.menu{
    display: flex;
  padding-left: 50px;
}
.border{
 padding: 10px;
}
.numberalign{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
    padding-top: 5px;
}
.inputaligns{
    padding-top: 10px;
}